apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  strategy: {}
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: frontend-flask:v0.1
        name: frontend-flask
        env:
          - name: API_BASE
            value: "http://backend:8080/items"
        resources: {}
status: {}
