apiVersion: v1
kind: Service
metadata:
  labels:
    app: frontend
  name: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 5123
    protocol: TCP
    targetPort: 5123
  selector:
    app: frontend
status:
  loadBalancer: {}
